<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find hector_sensors_description)/urdf/sonar_sensor.urdf.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />

  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro">
    <link name="base_link">
      <inertial>
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_base.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_quadrotor_description/meshes/quadrotor/quadrotor_base.stl"/>
        </geometry>
      </collision>
    </link>
    
    <!-- Sonar height sensor coordinates in the quadrotor frame -->
    <xacro:property name="sonar_x_coord" value="-0.16" />
    <xacro:property name="sonar_y_coord" value="0" />
    <xacro:property name="sonar_z_coord" value="-0.012" />
    
    <!-- Rotated sonar height sensor coordinates in the quadrotor frame -->
    <!--<xacro:property name="rot_sonar_x_coord" value="${(cos(yaw)*cos(pitch)*(sonar_x_coord)) + ((cos(yaw)*sin(pitch)*sin(roll)-sin(yaw)*cos(roll))*sonar_y_coord) + ((cos(yaw)*sin(pitch)*cos(roll)+sin(yaw)*sin(roll))*(sonar_z_coord))}" />
    <xacro:property name="rot_sonar_y_coord" value="${(sin(yaw)*cos(pitch)*(sonar_x_coord)) + ((sin(yaw)*sin(pitch)*sin(roll)+cos(yaw)*cos(roll))*sonar_y_coord) + ((sin(yaw)*sin(pitch)*cos(roll)-cos(yaw)*sin(roll))*(sonar_z_coord))}" />
    <xacro:property name="rot_sonar_z_coord" value="${(-sin(pitch)*(sonar_x_coord)) 		+  (cos(pitch)*sin(roll)*sonar_y_coord) 							 +  (cos(pitch)*cos(roll)*(sonar_z_coord))}							    " />-->

    <!-- Sonar height sensor -->
    <xacro:sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_height" update_rate="10" min_range="0.03" max_range="3.0" field_of_view="${pi/4.5}" ray_count="3">
      <origin xyz="${sonar_x_coord} ${sonar_y_coord} ${sonar_z_coord}" rpy="0 ${pi/2} 0"/>
    </xacro:sonar_sensor>

  </xacro:macro>
</robot>
