<?xml version="1.0"?>

<launch>

  <!-- Start Gazebo -->
  <include file="$(find hector_gazebo_worlds)/launch/outdoor_disaster_scenario.launch"/>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_stereo_cam_with_IMU.gazebo.xacro"/>
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Start rviz visualization with Kimera config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/thesis_ws/src/Kimera-VIO-ROS/rviz/kimera_vio_simulator.rviz"/>

</launch>
