<?xml version="1.0"?>

<launch>

  <!-- Start Gazebo -->
  <include file="$(find hector_gazebo_worlds)/launch/indoor_disaster_scenario.launch"/>

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <!-- Model -->
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_stereo_cam_with_IMU.gazebo.xacro"/>
    <!-- Position and attitude -->
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.3"/>
    <arg name="R" value="$(eval 0 * pi/180)"/>
  	<arg name="P" value="$(eval 0 * pi/180)"/>
  	<arg name="Y" value="$(eval 0 * pi/180)"/>
  </include>

  <!-- Start rviz visualization with Kimera config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kimera_vio_ros)/rviz/kimera_vio_drone_simulator.rviz"/>

</launch>
