<?xml version="1.0"?>

<launch>

  <!-- Start Gazebo with wg world running in (max) realtime -->
  <include file="$(find hector_gazebo_worlds)/launch/rolling_landscape_120m.launch"/> <!-- load the modified outdoor world, modify the launchfile -->

  <!-- Spawn simulated quadrotor uav -->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_with_stereo_cam_with_IMU.gazebo.xacro"/> <!-- Load the appropriate xacro file with a stereo camera and an IMU -->
    <arg name="controllers" value="
        controller/attitude
        controller/velocity
        controller/position
        "/>
  </include>

  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/thesis_ws/src/Kimera-VIO-ROS/rviz/kimera_vio_simulator.rviz"/> <!-- start the kimera rviz -->

  <!-- We use the keyboard teleop -->
  <!-- <include file="$(find hector_quadrotor_teleop)/launch/xbox_controller.launch" >
    <arg name="control_mode" value="position"/>
  </include> -->

</launch>
